/*movil vertical*/
@media all and (min-width:360px) and (max-width:374px){
	nav{
		padding-bottom: 20%;
	}
	.responsive{
		display: none;
	}
}
/*movil horizontal*/
@media all and (min-width:640px) and (max-width:666px){
	nav{
		padding-bottom: 11%;
	}
	.escritorio{
		display: none;
	}
	.pyme{
		height: 111px;
	}
	h4{
		font-size: 1.5em;
	}
}

/*Iphone vertical*/
@media all and (min-width:375px) and (max-width:639px){
	nav{
		padding-bottom: 18%;
	}
	.responsive{
		display: none;
	}
	.auto{
		height: 120px;
	}
}

/*iphone horizontal*/
@media all and (min-width:667px) and (max-width:767px){
	nav{
		padding-bottom: 11%;
	}
	#bienvenida{
		padding: 40%;
	}
	.escritorio{
		display: none;
	}
	.pyme{
		height: 115px;
	}
	.auto{
		height: 115px;
	}
	h4{
		font-size: 1.5em;
	}
}

/*ipad horizontal*/
@media all and (min-width:768px) and (max-width:1023px){
	#capacitacion{
		padding: 30%;
		margin-top: 3%;
	}
	.escritorio{
		display: none;
	}
	.pyme{
		height: 108px;
	}
}

/*ipad vertical*/
@media all and (min-width:1024px) and (max-width:1199px){
	#capacitacion{
		padding: 24%;
	}
	.escritorio{
		display: none;
	}
	.pyme{
		height: 120px;
	}
}
/*desktop*/
@media all and (min-width: 1200px){
	.responsive{
		display: none;
	}
}