/*movil vertical*/
@media all and (min-width:360px) and (max-width:374px){
	nav{
		padding-bottom: 20%;
	}
	.carousel, .carousel-slider{
		height: 315px !important;
	}
	#cap, #hip, #pym, #aut{
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.save{
		height: 68px;
	}
	#servicios{
		margin-top: 6%;
	}
}
/*movil horizontal*/
@media all and (min-width:640px) and (max-width:666px){
	nav{
		padding-bottom: 11%;
	}
	.carousel, .carousel-slider{
		height: 295px !important;
	}
	#cap, #hip, #pym, #aut{
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	h4{
		font-size: 1.5em;
	}
	.an-hi-py{
		height: 150px;
	}
	.an-hi-au{
		height: 130px;
	}
}

/*Iphone vertical*/
@media all and (min-width:375px) and (max-width:639px){
	nav{
		padding-bottom: 18%;
	}
	.carousel, .carousel-slider{
		height: 315px !important;
	}
	#cap, #hip, #pym, #aut{
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}

/*iphone horizontal*/
@media all and (min-width:667px) and (max-width:767px){
	nav{
		padding-bottom: 11%;
	}
	h4{
		font-size: 1.5em;
	}
	#cap, #hip, #pym, #aut{
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.carousel, .carousel-slider{
		height: 310px !important;
	}
	.ip-hm-au{
		height: 110px;
	}
	.ip-hp-py{
		height: 157px;
	}
	.ip-py-hi{
		height: 135px;
	}
	.ip-au-hi{
		height: 137px;
	}
	.ip-au-py{
		height: 160px;
	}
}

/*ipad horizontal*/
@media all and (min-width:768px) and (max-width:1023px){
	#cap, #hip, #pym, #aut{
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.carousel, .carousel-slider{
		height: 485px !important;
	}
	.ipa-hm-py{
		height: 110px;
	}
	.ipa-hi-py{
		height: 180px;
	}
}

/*ipad vertical*/
@media all and (min-width:1024px) and (max-width:1199px){
	.pyme{
		height: 120px;
	}
	.serpy, .serau{
		height: 197px;
	}
}
/*desktop*/
@media all and (min-width: 1200px){
	.ds-py-hm{
		height: 163px;
	}
	.ds-py-ser{
		height: 148px;
	}
	.ds-py-hip{
		height: 238px;
	}
	.ds-au-hip{
		height: 238px;
	}
	.ds-hi-au{
		height: 235px;
	}
	.ds-py-au{
		height: 235px;
	}
}
