h3{
	color: #7D8F39 ;
	text-align: center;
}
nav{
	background-color: #7d8f39;
}
button{
	background-color: #4B398F !important;
}

footer{
	background-color: #7d8f39;
	color: #ffffff;
}
.privacidad{
	color: white;
	text-decoration: underline white;
}
/*home*/
#bienvenida{
	background-image: url("img/formacion.jpg");
	padding: 42%;
	background-size: 100%;
	background-repeat: no-repeat;
}
.fz-1{
	font-size: 1.5em;
}
.ver{
	color: #4B398F !important;
	font-weight: bold;
}
.pyme{
	height: 162px;
}
.txt-azul{
	color: #4B398F;
}
/*capacitacion*/
#capacitacion{
	background-image: url("img/beneficios.jpg");
	margin-top: 5%;
	padding: 40%;
	background-size: 100%;
	background-repeat: no-repeat;
}
/*servicios*/
#servicios{
	background-image: url("img/servicios.jpg");
	padding: 40%;
	background-size: 100%;
	background-repeat: no-repeat;
}
#hipotecario{
	background-image: url("img/credito-hipotecario.jpg");
	padding: 40%;
	background-size: 100%;
	background-repeat: no-repeat;
}

/*credito pyme*/
#pyme{
	background-image: url("img/pyme.jpg");
	padding: 40%;
	background-size: 100%;
	background-repeat: no-repeat;
}

/*credito automotriz*/
#auto{
	background-image: url("img/auto.jpg");
	padding: 40%;
	background-size: 100%;
	background-repeat: no-repeat;
}

/*bolsa de trabajo*/
#trabajo{
	background-image: url("img/trabajo.jpg");
	padding: 40%;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 2%;
}
.icon{
	width: 25%;
	height: 25%;
	display: block;
	margin: auto;
	color: red;
}