.txt-verde{
	color: #7d8f39;
}
.mt-10{
	margin-bottom: 10%;
}
.pt-10{
	padding-top: 10%;
}
nav{
	background-color: #7d8f39;
}
.dropdown-content li>a{
	color: #7d8f39 !important;
}
button{
	background-color: #d37d39 !important;
}
.bg-naranja{
	color: #d37d39;
}
footer{
	background-color: #7d8f39;
	color: #ffffff;
}
.privacidad{
	color: white;
	text-decoration: underline white;
}
/*home*/
#bienvenida{
	background-image: url("img/formacion.jpg");
	padding: 21%;
	background-size: 100%;
	background-position: center;
	margin-bottom: 5%;
	background-repeat: no-repeat;
}
#txt-bienvenida{
	margin-top: -15%;
	background-color: rgba(0, 0, 0, 0.7);
}
#txt-bienvenida > p{
	color: #ffffff;
	font-size: 1.5em;
}
/*capacitacion*/
#capacitacion{
	background-image: url("img/beneficios.jpg");
	padding: 21%;
	background-size: 100%;
	background-repeat: no-repeat;
}
#mision{
	margin-top: -8%;
	background-color: rgba(0, 0, 0, 0.7);
}
/*credito hipotecario*/
#hipotecario{
	background-image: url("img/credito-hipotecario.jpg");
	padding: 21%;
	background-size: 100%;
	background-repeat: no-repeat;
}
#txt-hipotecario{
	margin-top: -8%;
	background-color: rgba(0, 0, 0, 0.7);
}
/*credito pyme*/
#pyme{
	background-image: url("img/pyme.jpg");
	padding: 21%;
	background-size: 100%;
}

/*credito automotriz*/
#auto{
	background-image: url("img/auto.jpg");
	padding: 21%;
	background-size: 100%;
	background-repeat: no-repeat;
}

/*bolsa de trabajo*/
.icon{
	width: 25%;
	height: 25%;
	display: block;
	margin: auto;
	color: red;
}